services:
  markslides-dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
    command: "npm run dev"